{% extends "_base.html" %}
{% load static %}
{% load uptime_tags %}

{% block title %}Website: {{ site.name }} | {% endblock title %}

{% block classbody %}website-edit{% endblock classbody %}

{% block content %}
  <div id='main-content' class="medium-12 large-12 columns">

    <div class="row">
      <div class="small-12 medium-8 medium-centered large-6 large-centered columns">

        <form action="#" method='post' autocomplete='off'>
          {% csrf_token %}
          {{ form.slug }}

          <fieldset>
            <legend>ACTUALIZACIÓN: {{ site.name|upper }}</legend>

            <div class="row">
              <div class="large-12 columns">
                {{ form.active }}
                <label for="id_active"><strong>{{ form.active.label }}</strong></label>
                {{ form.active.help_text }}
              </div>
            </div>

            <div class="row">
              <div class="large-12 columns">
                <label for="id_name">
                  <strong>{{ form.name.label }}</strong>
                  {{ form.name }}
                  <span class="help_text">{{ form.name.help_text }}</span>
                  {{ form.name.errors }}
                </label>
              </div>
            </div>

            <div class="row">
              <div class="large-12 columns">
                <label for="id_url">
                  <strong>{{ form.url.label }}</strong>
                  {{ form.url }}
                  <span class="help_text">{{ form.url.help_text }}</span>
                  {{ form.url.errors }}
                </label>
              </div>
            </div>

            <div class="row">
              <div class="large-12 columns">
                <label for="id_timeout">
                  <strong>{{ form.timeout.label }}</strong>
                  {{ form.timeout }}
                  <span class="help_text">{{ form.timeout.help_text }}</span>
                  {{ form.timeout.errors }}
                </label>
              </div>
            </div>

            <div class="row">
              {{ form.non_field_errors }}
            </div>

            <div class="row"><input class='right success button' type="submit" value='ACTUALIZAR'></div>
          </fieldset>

          <div class='action_buttons'>
            <a id='BtnActividad' href="{% url 'website' slug=site.slug %}" class="action_button color_ok">
              <i class="fi fi-graph-trend"></i> Ver actividad
            </a>

            <a id='BtnAlertas' href="{% url 'website_alertas' slug=site.slug %}" class="action_button color_error">
              <i class="fi fi-alert"></i> Configurar alertas
            </a>

            <a href="#" class="action_button color_gray" data-reveal-id='deleteModal'>
              <i class="fi fi-skull"></i> Eliminar
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>

  <section class="hide">
    <div id="deleteModal" class="reveal-modal small" data-reveal>
      <h3 class='text-center'>¿Confirma que desea eliminar este website?</h3>
      <form action="{% url 'website_delete' slug=site.slug %}" id="deleteForm" method='POST'>
        {% csrf_token %}
        <p class='text-center helvetica'>Se le recuerda que puede alternar el check que indica el estado activo o
          inactivo para desactivar el item de la lista en vez de eliminarlo.</p>
        <button type='submit' class="button tiny alert">ELIMINAR</button>
      </form>

      <a class="close-reveal-modal">&#215;</a>
    </div>
  </section>
{% endblock content %}

{% block js %}
  <script type="text/javascript" src='{% static "js/libs/notify.min.js" %}'></script>
  <script type="text/javascript" src='{% static "js/dev.js" %}'></script>
  <script type="text/javascript">
      $(document).ready(function () {
          {% for message in messages %}
              $.notify("{{ message }}", {
                  className: 'success',
                  globalPosition: 'top center',
                  showDuration: 700
              });
          {% endfor %}
      });
  </script>
{% endblock js %}
