{% spaceless %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- If you delete this meta tag, Half Life 3 will never be released. -->
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Sitio Web caído</title>

<style>{% include 'email/email.css' %}</style>

</head>

<body bgcolor="#FFFFFF">

<!-- HEADER -->
<table class="head-wrap" bgcolor="#999999">
    <tr>
        <td></td>
        <td class="header container" >

                <div class="content">
                <table bgcolor="#999999">
                    <tr>
                        <td><img src="http://placehold.it/200x50/" /></td>
                        <td align="right"><h6 class="collapse">UPTIME MONITOR</h6></td>
                    </tr>
                </table>
                </div>
        </td>
        <td></td>
    </tr>
</table><!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap">
    <tr>
        <td></td>
        <td class="container" bgcolor="#FFFFFF">

            <div class="content">
            <table>
                <tr>
                    <td>
                        <h3>Hola,</h3>

                        <p class="lead">El sitio web <strong>{{ site }}</strong> está experimentando problemas.</p>

                        <p class="error">El error registrado es: <a>{{ ping.mensaje }}</a>

                        </p>

                        <p class="callout">
                            Puede realizar el seguimiento del estado del website desde aquí: <a href="#">Uptime Monitor! &raquo;</a>
                        </p><!-- /Callout Panel -->

                        <!-- social & contact -->
                        <table class="social" width="100%">
                            <tr>
                                <td>
                                    <!-- column 1 -->
                                    <table align="left" class="column">
                                        <tr>
                                            <td>
                                                <h5 class="">Información de contacto:</h5>
                                                <p>Email: <strong><a href="emailto:dev@dev.com">dev@dev.com</a></strong></p>

                                            </td>
                                        </tr>
                                    </table><!-- /column 2 -->

                                    <span class="clear"></span>

                                </td>
                            </tr>
                        </table><!-- /social & contact -->

                    </td>
                </tr>
            </table>
            </div><!-- /content -->

        </td>
        <td></td>
    </tr>
</table><!-- /BODY -->

</body>
</html>
{% endspaceless %}